*{
    margin:0;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.speech{
    width: 100%;
}
.group{
    margin: 7px 0px;
}  
textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid rgb(228, 20, 20);
    outline: none;
    border-radius: 3px;
}
.btn{
    width: 100%;
    display: block;
    padding: 10px 22px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
  